<div class="main-content-wrapper">
  <div class="mini-luxury-rooms">
    <div class="dicription-wrapper">
    <header class="discription-header"><p>Here are our Mini-luxury rooms to pick from</p></header>
  </div>
  <div class="main-card-wrapper">
  <div class="card card-wrapper">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4 ">
      <div class="card h-100">
        <img src="/assets/images/mini-luxury.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mini Luxury Room 1</h5>
          <p class="card-text">This is from our exquisite mini-luxury rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{amount}}/Night</small>
          <a [routerLink] = "['/miniLuxuryPayment']" class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="/assets/images/bed.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mini Luxury Room 2</h5>
          <p class="card-text">This isfrom our exquisite Mini-luxury rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{amount}}/Night</small>
          <a [routerLink] = "['/miniLuxuryPayment']" class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="/assets/images/bed2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mini Luxury Room 3</h5>
          <p class="card-text">This is from our exquisite Mini-luxury rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{amount}}/Night</small>
          <a [routerLink] = "['/miniLuxuryPayment']"class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="/assets/images/bed5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mini Luxury Room 4</h5>
          <p class="card-text">This is from our exquisite Mini-luxury rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{amount}}/Night</small>
          <a [routerLink] = "['/miniLuxuryPayment']" class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>

  </div>
  </div>
  </div>
  </div>
  </div>
