<div class="main-content-wrapper">
  <div class="luxury-rooms">
    <div class="dicription-wrapper">
    <header class="discription-header"><p>Here are our luxury rooms to pick from</p></header>
  </div>
  <div class="main-card-wrapper">
  <div class="card card-wrapper">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4 ">
      <div class="card h-100">
        <img src="/assets/images/luxury1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Luxury Room 1</h5>
          <p class="card-text">This is Room 1 from our exquisite luxury rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{amount}}/Night</small>
          <a [routerLink] = "['/luxuryPayment']" class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="/assets/images/bedroom.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Luxury Room 2</h5>
          <p class="card-text">This is Room 2 from our exquisite luxury rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{amount}}/Night</small>
          <a [routerLink] = "['/luxuryPayment']" class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="/assets/images/hotel-room.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Luxury Room 3</h5>
          <p class="card-text">This is Room 3 from our exquisite luxury rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{amount}}/Night</small>
          <a [routerLink] = "['/luxuryPayment']" class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="/assets/images/luxury2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Luxury Room 4</h5>
          <p class="card-text">This is Room 4 from our exquisite luxury rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{amount}}/Night</small>
          <a [routerLink] = "['/luxuryPayment']" class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="/assets/images/luxury3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Luxury Room 5</h5>
          <p class="card-text">This is Room 5 from our exquisite luxury rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{amount}}/Night</small>
          <a [routerLink] = "['/luxuryPayment']" class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="/assets/images/luxury4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Luxury Room 6</h5>
          <p class="card-text">This is Room is from our exquisite luxury rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{amount}}/Night</small>
          <a [routerLink] = "['/luxuryPayment']" class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>

  </div>
  </div>
  </div>
  </div>
  </div>
