<div class="main-content-wrapper">
  <div class="single-rooms">
    <div class="dicription-wrapper">
    <header class="discription-header"><p>Here are our conference rooms and halls to pick from</p></header>
  </div>
  <div class="main-card-wrapper">
  <div class="card card-wrapper">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4 ">
      <div class="card h-100">
        <img src="/assets/images/bed1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Single Room 1</h5>
          <p class="card-text">This is from our exquisite single rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{amount}}/Night</small>
          <a [routerLink] = "['/singlePayment']" class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="/assets/images/bed2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Single Room 2</h5>
          <p class="card-text">This is from our exquisite single rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{amount}}/Night</small>
          <a [routerLink] = "['/singlePayment']" class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="/assets/images/bed3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Single Room 3</h5>
          <p class="card-text">This is Room 3 from our exquisite conference rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{amount}}/Night</small>
          <a [routerLink] = "['/singlePayment']"class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="/assets/images/bed4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Single Room 4</h5>
          <p class="card-text">This is from our exquisite conference rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{amount}}/Night</small>
          <a [routerLink] = "['/singlePayment']" class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>

  </div>
  </div>
  </div>
  </div>
  </div>
