<footer class="footer-wrapper">
    <div class="footer-headers">
  </div>
  <div class="header-content"><b>Follow Us:</b>
    <div class="social-medial"><i class="fa fa-facebook-official aria-hidden"></i></div>
    <div class="social-medial"><i class="fa fa-instagram aria-hidden"></i></div>
    <div class="social-medial"><i class="fa fa-linkedin-square aria-hidden"></i></div>
    <div class="social-medial"><i class="fa fa-twitter aria-hidden"></i></div>
  </div>

  <div class="care-line">
    <h4 class="contact-us"><b>Contact Us:</b></h4>
    <div class="contact-us" style="margin-bottom: .5em;"> Costumers Care:   +2348162305224</div>
    <div class="contact-us"> Email:   Awasevalentine@gmail.com</div>
  </div>

</footer>
