<p>view-rooms works!</p>
<div class="main-content-wrapper">
  <div class="luxury-rooms">
  <fieldset>
      <legend class="text-center legend-wrapper">Luxury Rooms</legend>
  <div class="main-card-wrapper">
  <div class="card card-wrapper">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4 ">
      <div class="card h-100">
        <img src="/assets/images/luxury1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Luxury Room 1</h5>
          <p class="card-text">This is Room 1 from our exquisite luxury rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{luxuryRoomAmount}}/Night</small>
          <a [routerLink] = "['/luxpay']" class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="/assets/images/bedroom.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Luxury Room 2</h5>
          <p class="card-text">This is Room 2 from our exquisite luxury rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{luxuryRoomAmount}}/Night</small>
          <a [routerLink] = "['/luxpay']" class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="/assets/images/hotel-room.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Luxury Room 3</h5>
          <p class="card-text">This is Room 3 from our exquisite luxury rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{luxuryRoomAmount}}/Night</small>
          <a [routerLink] = "['/luxpay']"class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="/assets/images/luxury2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Luxury Room 4</h5>
          <p class="card-text">This is Room 4 from our exquisite luxury rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{luxuryRoomAmount}}/Night</small>
          <a [routerLink] = "['/luxpay']" class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="/assets/images/luxury3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Luxury Room 5</h5>
          <p class="card-text">This is Room 5 from our exquisite luxury rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{luxuryRoomAmount}}/Night</small>
          <a [routerLink] = "['/luxpay']" class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="/assets/images/luxury4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Luxury Room 6</h5>
          <p class="card-text">This is Room is from our exquisite luxury rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{luxuryRoomAmount}}/Night</small>
          <a [routerLink] = "['/luxpay']" class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>

  </div>
  </div>

  </div>
</fieldset>
  <hr class="horizontal-line">
  <fieldset>
      <legend class="legend-wrapper text-center">Mini-Luxury Rooms</legend>
<div class="main-card-wrapper">
  <div class="card card-wrapper">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4 ">
      <div class="card h-100">
        <img src="/assets/images/mini-luxury.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mini Luxury Room 1</h5>
          <p class="card-text">This is from our exquisite mini-luxury rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{miniLuxuryRoomAmount}}/Night</small>
          <a [routerLink] = "['/miniLuxuryPayment']" class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="/assets/images/bed.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mini Luxury Room 2</h5>
          <p class="card-text">This isfrom our exquisite Mini-luxury rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{miniLuxuryRoomAmount}}/Night</small>
          <a [routerLink] = "['/miniLuxuryPayment']" class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="/assets/images/bed2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mini Luxury Room 3</h5>
          <p class="card-text">This is from our exquisite Mini-luxury rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{miniLuxuryRoomAmount}}/Night</small>
          <a [routerLink] = "['/miniLuxuryPayment']"class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="/assets/images/bed5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mini Luxury Room 4</h5>
          <p class="card-text">This is from our exquisite Mini-luxury rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
        </div>
        <div class="card-footer">
          <small class="text" style="font-weight: bold;">Cost: N{{miniLuxuryRoomAmount}}/Night</small>
          <a [routerLink] = "['/miniLuxuryPayment']" class="btn btn-primary book-room">Book this room</a>
        </div>
      </div>
    </div>

  </div>
  </div>
  </div>
</fieldset>

<hr class="horizontal-line">
<fieldset>
  <legend class="legend-wrapper text-center">Single Rooms</legend>
  <div class="main-card-wrapper">
      <div class="card card-wrapper">
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4 ">
          <div class="card h-100">
            <img src="/assets/images/bed1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Single Room 1</h5>
              <p class="card-text">This is from our exquisite single rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
            </div>
            <div class="card-footer">
              <small class="text" style="font-weight: bold;">Cost: N{{singleRoomAmount}}/Night</small>
              <a [routerLink] = "['/singlePayment']" class="btn btn-primary book-room">Book this room</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="/assets/images/bed2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Single Room 2</h5>
              <p class="card-text">This is from our exquisite single rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
            </div>
            <div class="card-footer">
              <small class="text" style="font-weight: bold;">Cost: N{{singleRoomAmount}}/Night</small>
              <a [routerLink] = "['/singlePayment']" class="btn btn-primary book-room">Book this room</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="/assets/images/bed3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Single Room 3</h5>
              <p class="card-text">This is Room 3 from our exquisite conference rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
            </div>
            <div class="card-footer">
              <small class="text" style="font-weight: bold;">Cost: N{{singleRoomAmount}}/Night</small>
              <a [routerLink] = "['/singlePayment']"class="btn btn-primary book-room">Book this room</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="/assets/images/bed4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Single Room 4</h5>
              <p class="card-text">This is from our exquisite conference rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
            </div>
            <div class="card-footer">
              <small class="text" style="font-weight: bold;">Cost: N{{singleRoomAmount}}/Night</small>
              <a [routerLink] = "['/singlePayment']" class="btn btn-primary book-room">Book this room</a>
            </div>
          </div>
        </div>

      </div>
      </div>
      </div>
</fieldset>


<hr class="horizontal-line">
<fieldset>
  <legend class="legend-wrapper text-center">Conference Rooms</legend>
  <div class="main-card-wrapper">
      <div class="card card-wrapper">
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4 ">
          <div class="card h-100">
            <img src="/assets/images/conference-room-768441_1920.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">conference Room 1</h5>
              <p class="card-text">This is from our exquisite conference rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
            </div>
            <div class="card-footer">
              <small class="text" style="font-weight: bold;">Cost: N{{conferenceRoomAmount}}/Night</small>
              <a [routerLink] = "['/conferencePayment']" class="btn btn-primary book-room">Book this room</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="/assets/images/conference1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Conference Room 2</h5>
              <p class="card-text">This is from our exquisite conference rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
            </div>
            <div class="card-footer">
              <small class="text" style="font-weight: bold;">Cost: N{{conferenceRoomAmount}}/Night</small>
              <a [routerLink] = "['/conferencePayment']" class="btn btn-primary book-room">Book this room</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="/assets/images/conference2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Conference Room 3</h5>
              <p class="card-text">This is Room 3 from our exquisite conference rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
            </div>
            <div class="card-footer">
              <small class="text" style="font-weight: bold;">Cost: N{{conferenceRoomAmount}}/Night</small>
              <a [routerLink] = "['/conferencePayment']"class="btn btn-primary book-room">Book this room</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="/assets/images/conference-hall.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Conference Room 4</h5>
              <p class="card-text">This is from our exquisite conference rooms. This room booking gives u access to an unlimited Wi-Fi for your number of days in the hotel.</p>
            </div>
            <div class="card-footer">
              <small class="text" style="font-weight: bold;">Cost: N{{conferenceRoomAmount}}/Night</small>
              <a [routerLink] = "['/conferencePayment']" class="btn btn-primary book-room">Book this room</a>
            </div>
          </div>
        </div>

      </div>
      </div>
      </div>
      </fieldset>
  </div>
  </div>
